{% extends "_base.html" %}

{% block page_title %} About | {{ block.super }} {% endblock %}

{% block content %}
	<h2>About concrete5-irc.com</h2>
	<p>
		Concrete5 is a free and open source content management system written in PHP. 
		For more information on Concrete5 visit <a href="http://concrete5.org">concrete5.org</a>
	</p>
	<p>
		This website is keeping a log of all the messages in the #concrete5 <a href="http://en.wikipedia.org/wiki/Irc">IRC</a> 
		channel on the <a href="http://freenode.net/">Freenode</a> network. The #concrete5 channel is a great place to discuss
		Concrete5 with other users and contains valuable information that may not be documented elsewhere. By logging the 
		messages in #Concrete5 I hope to keep a history of this information so that it may help other Concrete5 users.
	</p>
	<p>For comments or suggestions please email me at <a href="mailto:admin@concrete5-irc.com">admin@concrete5-irc.com</a></p>
{% endblock %}